<div class="container" style="margin-top: 50px; margin-left: 100px;">
    <h5 class="card-title"><strong>Top Banquet Halls in Hyderabad</strong></h5><br>
    <div class="row">
        <div class="col">
            <img src="../assets/banquet2.jpg" style="height: 330px; width:650px;" class="img-fluid" alt="Image 3">
            <div class="text-below"><strong>Sanya Farms and Banquets</strong><br>
                <i class="fas fa-map-marker-alt"></i>&nbsp;Virar West, Palghar<br>
                <button type="button" style="background-color: #058a07;" class="btn btn-primary">
                    <i class="fas fa-phone fa-flip-horizontal"></i>&nbsp; 6301718028
                  </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-link" style="text-decoration: none; color: inherit; background-color: transparent; border: 1px solid #8a8d8a; border-radius: 5px;" onclick="window.location.href='whatsapp://send?phone=whatsappphonenumber'">
                    <i class="fab fa-whatsapp" style="color: #058a07;"></i>  Chat
                </button><br>
                4.0
                <span style="color: rgb(255, 110, 0);" class="fa fa-star checked"></span>
                <span style="color:rgb(255, 110, 0);" class="fa fa-star checked"></span>
                <span style="color:rgb(255, 110, 0);" class="fa fa-star checked"></span>
                <span style="color:rgb(255, 110, 0);" class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
    </div>