.card-top{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgb(0,0,0,0.2);
    border-radius: .25rem;
}
/* .item img {
    width: 64px;
}
.item {
    margin: 0px 15px;
    text-align: center;
} */
.card{
    padding: 20px;
    margin: 45px;
}

.card img{
    width: 200px;
    height: 200px;
    /* margin-bottom: 15px; */
    transition: 0.3s ease-in-out;
    margin: auto;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
  
  .image-slider img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
  }
  .image-slider {
    position: relative;
    height: 200px;
    overflow: hidden;
  }
  
  .container {
    padding-top: 20px;
  }
  
  .container-fluid {
    position: relative;
  }
  .slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }
  
  .dot-symbols {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #000;
  }