<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include your head content here -->
</head>

<body style="margin: 0; height: 100%;">

  <div style="background-color: #eaeaf1; min-height: 90vh;">

<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " style="background: linear-gradient(45deg, #312a42, #312a42);font-size: small;"> -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
      <div class="position-sticky" >
      <div class="list-group list-group-flush mx-3 mt-16"><h6>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item" style="margin-top: 10px;">
              &nbsp;&nbsp;<a style="color: rgb(148, 148, 148);" href="/dashboard" class="nav-link px-0 align-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                    </svg>
                    &nbsp;<span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
          </li>
          <li class="nav-item" style="margin-top: 10px;">
            &nbsp;&nbsp;<a style="color: rgb(148, 148, 148);" href="/admin-view" class="nav-link px-0 align-middle custom-font">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>&nbsp;
              <span class="ms-1 d-none d-sm-inline">Admin</span>
            </a>
          </li>
          
            <li class="nav-item" style="margin-top: 10px;">
              &nbsp;&nbsp;<a style="color: rgb(148, 148, 148);" href="/domain-view" class="nav-link px-0 align-middle">
                  <i class="fas fa-globe" style="font-size: 16px;"></i>&nbsp;<span class="ms-1 d-none d-sm-inline">Domains</span>
              </a>
          </li>
              
            <li class="nav-item" style="margin-top: 10px;">
              &nbsp;&nbsp;<a style="color: rgb(148, 148, 148);" href="/hosting-view" class="nav-link px-0 align-middle">
                <i class="pi pi-database" style="color: rgb(148, 148, 148);"></i>&nbsp;
                <span class="ms-1 d-none d-sm-inline">Host</span>
              </a>
            </li>
             
              <li class="nav-item" style="margin-top: 10px;">
                &nbsp;&nbsp;<a href="/hostdomainmap-view" class="nav-link px-0 align-middle">
                  <i class="fas fa-map-marked-alt" style="color: rgb(148, 148, 148);"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline" style="color: rgb(148, 148, 148);">Hostdomain Map</span>
                </a>
              </li>
              
               <li class="nav-item" style="margin-top: 10px;">
                &nbsp;&nbsp;<a style="color: rgb(148, 148, 148);" href="email-view" class="nav-link px-0 align-middle">
                  <i class="bi bi-shield-lock" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline">Credentials</span>
                </a>
              </li>
               
               <li class="nav-item" style="margin-top: 10px;">
                &nbsp;&nbsp;<a style="color: rgb(148, 148, 148);" href="/it-view" class="nav-link px-0 align-middle">
                  <i class="pi pi-id-card" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline">IT Credentials</span>
                </a>
              </li>
              
              <li class="nav-item" style="margin-top: 10px;">
                &nbsp;&nbsp;<a [ngClass]="{ 'active-link': isActive('/passwords-list') }" href="/passwords-list" class="nav-link px-0 align-middle">
                  <i class="pi pi-lock" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline">Passwords Expiry Status</span>
                </a>
              </li>
              <!-- <li class="nav-item" [ngClass]="{ 'active-link': isActive('/passwords-list') }" style="margin-top: 10px;">
                &nbsp;&nbsp;<a style="color: rgb(221, 225, 229);" href="/passwords-list" class="nav-link px-0 align-middle">
                  <i class="pi pi-lock" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline"><strong>Passwords Status</strong></span>
                </a>
              </li> -->
              
          </ul></h6>
      </div>
    </div>
    
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  fixed-top" style="background: linear-gradient(45deg, #000B19, #000B19);">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
      <!-- Brand -->
      <a class="navbar-brand" style="height: 64px; margin-top: 0px;">
        &nbsp;<img src="../../assets/pbt.png" class="bottom" style="height: 63px; width: 180px ; left: 0;"
          loading="lazy" />
      </a>
      <!-- Search form -->
    
       
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        

        <!-- Icon -->
        <li class="nav-item me-3 me-lg-0">
          <!-- <a class="nav-link">
            <i class="fab fa-github"></i>
          </a> -->
        </li>
          <p-dialog header="Confirmation" [(visible)]="displayDialog"  [modal]="true" style="border-radius: 100%;">
            <p>Are you sure you want to Logout ?</p>
            <p-footer>
              <button type="button" pButton icon="pi pi-check" style="background-color: #000B19;" (click)="logout()" label="Yes"></button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" pButton icon="pi pi-times" style="background-color: #000B19;" (click)="cancelLogout()" label="No"></button>
            </p-footer>
          </p-dialog>              
           <button  style="height: 50px; width: 60px; background-color: #000B19;font-style:roman;border: #000B19;margin-top:0% ;" pButton type="button" icon="pi pi-power-off" (click)="showDialog()"></button>
    
    
  
          <!-- Avatar -->
       
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
  
        </ul>
      </div>        
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  
  <!--Main layout-->
  <main style="margin-top: 80px;">
    <!-- Correct viewport settings -->
    <div class="container pt-4" style="background-color: #eaeaf1;">  
      <div>
        <div>
          <h5>Passwords Expiry Status</h5>
        </div>
      <p-card>
        <div class="col-sm-12 col-md-6">
          <div id="datatable_filter" class="dataTables_filter text-left" style="text-align: left !important;">
            <label>
              <input autocomplete="off" type="text" class="form-control" [(ngModel)]="searchText"
                placeholder="Search " (keyup)="applyFilter(searchText)" />
            </label>
          </div>
        </div><br>
        <table class="table table-bordered dt-responsive nowrap sm dataTable no-footer dtr-inline" style="font-size:small">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th>User Name</th>
              <th>Password</th>
              <th>Registration Date</th>
              <th>Expiry Date</th>
              <th>Type</th>
              <th>Module Name</th>
              <th>Days Left</th>
              <!-- <th>Type</th> -->
            </tr>
          </thead>
          <tbody>
            <tr class="odd" style="  vertical-align: middle;" *ngFor="let password of passwordsDetails  | paginate: { id: 'passwordPagination', itemsPerPage: 6, currentPage: page, totalItems: totalCount }; let i=index">
            
            <!-- <tr *ngFor="let password of passwordsDetails"> -->
                <td>{{ password.userName }}</td>
                <!-- <td>{{ password.password }}</td> -->
                <!-- <td>{{ password.password | passwordMask }}</td> -->
                <!-- <td>
                  <div class="password-container">
                    <div *ngIf="!isPasswordVisible(i); else hiddenPassword">
                      {{ password.password | passwordMask }}
                    </div>
                    <ng-template #hiddenPassword>
                      {{ password.password }}
                    </ng-template>
                    <button class="toggle-password" (click)="togglePasswordVisibility(i)">
                      <i [ngClass]="isPasswordVisible(i) ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </button>
                  </div>
                </td> -->
                <td>
                  <div class="password-container">
                    <div class="password-field" *ngIf="!isPasswordVisible(i); else hiddenPassword">
                      {{ password.password | passwordMask }}
                    </div>
                    <ng-template #hiddenPassword>
                      {{ password.password }}
                    </ng-template>
                    <div class="toggle-password">
                      <button (click)="togglePasswordVisibility(i)">
                        <i [ngClass]="isPasswordVisible(i) ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                      </button>
                    </div>
                  </div>
                </td>
                
    
                <td>{{ password.registrationDate }}</td>
                <td>{{ password.expiryDate }}</td>
                <td>{{ password.type}}</td>
                <td>{{ password.moduleName }}</td>
                <!-- <td [ngClass]="{'text-danger': password.daysLeft <= 7}">{{password.daysLeft}}</td> -->
                <!-- <td [ngClass]="{'text-danger': password.daysLeft <= 7}"
          pTooltip="Your password is expiring soon, Please update!" [positionStyle]="i > 5 ? 'top' : 'bottom'">{{ password.daysLeft }}</td> -->

          <td [ngClass]="{'text-danger': password.daysLeft <= 7}"
                      [pTooltip]="password.daysLeft <= 7 ? 'Your password is expiring soon, Please update!' : ''">
                      <strong>{{password.daysLeft}}</strong>
                  </td>
             
            <tr *ngIf="!passwordsDetails || passwordsDetails.length === 0">
              <td colspan="8" style="text-align: center; font-size: 0.8rem;">
                No Data Found
              </td>
            </tr>
  
          </tbody>
        </table>
        <pagination-controls id="passwordPagination" (pageChange)="pageChange($event)"
        *ngIf="passwordsDetails && passwordsDetails.length" style="font-size: small;"></pagination-controls>
        <div class="row">
          <div class="col-md-10">
           
        </div>
        <div class="col-md-2">
       <p style="margin-top: -26%; color:#0a0a0a; font-size: small;">Total Count:[{{totalCount}}]</p>
        </div>
    </div>
      </p-card>
    </div>
    </div>
     </main>