<!-- <header>
    <div class="navbar navbar-dark bg-white shadow-sm" style="height: 80px;">
        <div class="navbar-brand align-item-center d-flex">
            <button class="btn btn-link" [routerLink]="['/products']">
                <img src="../assets/just.png" alt="Justdial" style="width: 95px; height: 25px; margin-left: 10px;">
            </button>
            

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control with-box-shadow" placeholder="What are you looking for...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" style="height: 30px; width: 30px; background-color: #fe610c; border-color: #fe610c; margin-top: 3px; margin-left: -34px; z-index: 999;">
                            <i class="fas fa-search" style="margin-top: -10px; margin-left: -4px;"></i>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header> -->

<div class="menu-bar">
    
    <h1 routerLink="/dashboard" class="logo" style="color: aliceblue; cursor: pointer;">Path<span>Breaker</span></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ul>
      <li><a routerLink="/products">Banquet Halls</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="/caterers">Caterers</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li><a routerLink="#">Photographers</a></li>
      <!-- <li>
        <a href="#">Venues <i class="fas fa-caret-down"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="dropdown-menu">
          <ul>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </li> -->
    </ul>
  </div>
  
  <!-- <div class="hero">
    <img style="height: 530px; width: 1358px;" src="../assets/banglore_bg.webp">
    &nbsp;
  </div> -->

  <!-- <div class="hero">
    <img style="height: 530px; width: 1358px;" src="../assets/banglore_bg.webp" alt="Background Image">
    <div class="overlay-text">
        <h2>Plan a Hyderabad Wedding</h2>
        <p>Find Vendors in Hyderabad</p>
    </div>
</div> -->

  
  
