
/* Add this CSS to your stylesheet */
.sort-icons i {
    font-size: 15px; /* Adjust this value for icon size */
    opacity: 0.5; /* Adjust this value to control icon opacity */
    transition: opacity 0.3s;
}

.sort-icons i.active {
    opacity: 2;
    color: blue;
}
.custom-sponsor-header {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Mada', sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
    color: #212529;
    
}
th, td {
  font-family: 'Mada', sans-serif !important; /* Apply font-family to both th and td */
}


/* th{
    height: 10px;
    padding: 5px;
} */

th {
  height: 10px;
  padding: 5px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  unicode-bidi: isolate;
  text-align: center;
  padding-left: 36px;
}
.table th {
  font-weight: 700 !important;
  font-size: 14px !important;
}
.table td {
  color: #212529;
  font-size: .875em;
  font-weight: 400;
  text-align: center;
  
}
.text-muted {
  /* --bs-text-opacity: 1; */
  color: #212529;
  font-size: .875em;
  font-weight: 400;
  text-align: center;
}












.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
  }
  
  .menu {
    display: none;
  }
  
  .menu.open {
    display: block;
    /* Add your styles to show the open menu here */
  }
  

  .btn-primary {
    background-color: #0073aa;
border-color: #0073aa;
color: #fff;
}
.container-fluid {
  width: 900px;
  margin-left: 8px;
}
.main-content {
  background-color: #fff;
}
.custom-search-input {
  height: 35px;
  padding: 3px 10px;
}