<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" /><title>Invoice</title>
</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body printableArea bg-white">   
                    <hr />
                    <div class="row">
                        <div class="d-flex">
                            <div class="col-md-8">
                                <div class="text-left">
                                    <address>
                                        <h6 style="font-size:small;"><b>Billed To,</b></h6>
                                        <h4 class="font-medium"> PavanKalyan</h4>
                                        <h5 class="m-l-30 font-medium"><b>Email:</b> pavankalyang@gmail.com,</h5>
                                        <h5 class="m-l-30 font-medium"><b>Contact No: </b> 9012345678 ,</h5>
                                        <h5 class="m-l-30 font-medium"><b>GST:</b> 325824HAw8324,</h5>
                                        <h5 class="m-l-30 font-medium"><b>Address:</b> Hydefrabad, Telengana</h5>
                                    </address>
                                </div>
                            </div>
                            <div class="col-md-6 text-right" style="margin-left: 195px;">
                                <h5 class="text-right">
				                    <b style="font-size:smaller;">INVOICE-</b><span>INV/23/29</span>
                                </h5>
                                <p class="text-right mr-1">Invoice Date :&nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                                    &nbsp;<b class="m-l-30">Nov. 7, 2023</b>
                                </p>
                                <p class="text-right mr-1">Due Date :&nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
				                    &nbsp;<b class="m-l-30 ">Feb. 20, 2024</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive m-t-40">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-left">Description</th>
                                <th class="text-left">HSN-no</th>
                                <th class="text-left">Quantity</th>
                                <th class="text-left">GST (%)</th>
                                <th class="text-left">Unit Cost (₹)</th>
                                <th class="text-left">Total (₹)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-left"></td>
                                <td class="text-left">HSN22</td>
                                <td class="text-left">1</td>
                                <td class="text-left">18</td>
                                <td class="text-left">40.00</td>
                                <td class="text-left">47.2</td>
                            </tr>
					
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-left"></td>
                                <td class="text-left">HSN22</td>
                                <td class="text-left">1</td>
                                <td class="text-left">18</td>
                                <td class="text-left">40000.00</td>
                                <td class="text-left">47200.0</td>
                            </tr>
					
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class='table-responsive'>
                    <div class='table-responsive'>
                        <table class='table'>
                            <tr>
                                <th colspan="4" style="font-size:small;">Bank Details</th>
                                <th>Total Amount</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th colspan="1">Bank Name :</th>
					            <td>e</td>
                                <th colspan="1">Pan Number:</th>
					            <td>asd123s3sdsww</td>
                                <th colspan="1">SGST(%):</th>
					            <td>9</td>
                            </tr>
                            <tr>
                                <th colspan="1">Account Number : </th>
					            <td>2312342379122</td>
                                <th colspan="1">GST Number:</th>
					            <td>325824HAw8324</td>
                                <th colspan="1">CGST(%):</th>
					            <td>9</td>
                            </tr>
                            <tr>
                                <th colspan="1">IFSC Code : </th>
					            <td>ascds13e2343</td>
                                <th colspan="2" rowspan="2"></th>
                                <th colspan="1">IGST(%):</th>
					            <td>0</td>
                            </tr>
                            <tr>
                                <th colspan="1">Branch : </th>
					            <td>ascsdc</td>
                                <th colspan="2"></th>
                            </tr>
                            <tr style="background-color:#f5f5f5;">
					            <th colspan="4" class="text-left" style="font-size:medium;"><b>In Words:</b> &nbsp;<em>Fifty-Five Thousand, Seven Hundred And Fifty-One Point Seven</em>&nbsp;only/-</th>
					            <th rowspan="2" colspan="2" class='text-right'><b>Grand Total:</b>&nbsp; &nbsp;55751.7</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
		<p style="font-style:italic;">The Payment should be made favouring <b>ABCD</b> or Direct deposit information given above.</p>
        <br /><br /><br /><br /><br />
		<h6 style="margin-bottom:60px;">For <b>ABCD</b> </h6>
        <address style="margin-top:90px;">
            <h6 style="font-style:italic;font-size:medium;">Authorized Signature</h6>
			<h3 class="text-danger">ABCD,</h3>
			<h6 class="m-l-5">Hydefrabad.</h6>
        </address>
        <hr />
		<h5 class='text-center'><b>ABCD</b></h5>
        <h6 class='text-center'><b>ph no: </b>+9012345678, <b>email:</b> pathbreakertech@gmail.com</h6>
    </body>
</html>

