<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse " style="background: linear-gradient(45deg, #312a42, #312a42);font-size: small;"> -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
      <div class="position-sticky" >
      <div class="list-group list-group-flush mx-3 mt-4">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
              <a style="color: rgb(221, 225, 229);" href="/dashboard" class="nav-link px-0 align-middle">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                    </svg>
                    &nbsp;<span class="ms-1 d-none d-sm-inline">Home</span>
              </a>
          </li>
          <li class="nav-item">
            <a style="color: rgb(221, 225, 229);" href="/admin-view" class="nav-link px-0 align-middle custom-font">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>&nbsp;
              <span class="ms-1 d-none d-sm-inline">Admin</span>
            </a>
          </li>
          
        
              <!-- <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="/domain-view" class="nav-link px-0 align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                      </svg><span class="ms-1 d-none d-sm-inline">Domain</span>
                </a>
            </li> -->
            <li class="nav-item">
              <a style="color: rgb(221, 225, 229);" href="/domain-view" class="nav-link px-0 align-middle">
                  <i class="fas fa-globe" style="font-size: 16px;"></i>&nbsp;<span class="ms-1 d-none d-sm-inline">Domains</span>
              </a>
          </li>
              <!-- <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="/hosting-view" class="nav-link px-0 align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                          <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
                      </svg><span class="ms-1 d-none d-sm-inline">Hosting</span>
                </a>
            </li> -->
            <li class="nav-item">
              <a style="color: rgb(221, 225, 229);" href="/hosting-view" class="nav-link px-0 align-middle">
                <i class="pi pi-database" style="color: rgb(221, 225, 229);"></i>&nbsp;
                <span class="ms-1 d-none d-sm-inline">Host</span>
              </a>
            </li>
              <!-- <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="/hostdomainmap-view" class="nav-link px-0 align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg><span class="ms-1 d-none d-sm-inline">Hostdomain Map</span>
                </a>
              </li> -->
              <li class="nav-item">
                <a href="/hostdomainmap-view" class="nav-link px-0 align-middle">
                  <i class="fas fa-map-marked-alt" style="color: rgb(221, 225, 229);"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline" style="color: rgb(221, 225, 229);">Hostdomain Map</span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="email-view" class="nav-link px-0 align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                      <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
                      </svg><span class="ms-1 d-none d-sm-inline">Email</span>
                </a>
               </li> -->
               <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="email-view" class="nav-link px-0 align-middle">
                  <i class="bi bi-shield-lock" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline">Credentials</span>
                </a>
              </li>
              
              
               <!-- <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="/it-view" class="nav-link px-0 align-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                      </svg><span class="ms-1 d-none d-sm-inline">IT Returns</span>
                </a>
               </li> -->
               <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="/it-view" class="nav-link px-0 align-middle">
                  <i class="pi pi-id-card" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline">IT Credentials</span>
                </a>
              </li>
              <li class="nav-item">
                <a style="color: rgb(221, 225, 229);" href="/passwords-list" class="nav-link px-0 align-middle">
                  <i class="pi pi-lock" style="font-size: 16px;"></i>&nbsp;
                  <span class="ms-1 d-none d-sm-inline">Password Expiry List</span>
                </a>
              </li>
          </ul>
      </div>
    </div>
    
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  fixed-top" style="background: linear-gradient(45deg, #000B19, #000B19);">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      
      <!-- Brand -->
      <a class="navbar-brand">
        <img src="../../assets/pbt.png" class="bottom" style="height: 65px; width: 180px ;"
          loading="lazy" />
      </a>
      <!-- Search form -->
    
       
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        

        <!-- Icon -->
        <li class="nav-item me-3 me-lg-0">
          <!-- <a class="nav-link">
            <i class="fab fa-github"></i>
          </a> -->
        </li>
        <p-dialog header="Logout Confirmation" [(visible)]="displayLogoutDialog"  [modal]="true" style="border-radius: 100%;">
          <p>Are you sure you want to Logout ?</p>
          <p-footer>
            <button type="button" pButton icon="pi pi-check" style="background-color: #000B19;" (click)="logout()" label="Yes"></button>&nbsp;&nbsp;&nbsp;
            <button type="button" pButton icon="pi pi-times" style="background-color: #000B19;" (click)="cancelLogout()" label="No"></button>
          </p-footer>
        </p-dialog>              
         <button  style="height: 50px; width: 60px; background-color: #000B19;font-style:roman;border: #000B19;margin-top:0% ;" pButton type="button" icon="pi pi-power-off" (click)="showDialog()"></button>

        <!-- Avatar -->
     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>

      </ul>
    </div>        
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<p-dialog header="Delete Confirmation" [(visible)]="displayDeleteDialog" [modal]="true" [style]="{ 'border-radius': '20px' }">
  <p>Are you sure you want to delete this admin ?</p>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" style="background-color: #000B19;"
            (click)="confirmDelete()" label="Yes"></button>&nbsp;&nbsp;&nbsp;
    <button type="button" pButton icon="pi pi-times" style="background-color: #000B19;"
            (click)="cancelDelete()" label="No"></button>
  </p-footer>
</p-dialog>
<!--Main layout-->
<main style="margin-top: 86px;">
  <!-- Correct viewport settings -->
  <div class="container pt-4" style="background-color: #eaeaf1;"> 
    <div class="text-center">
    <div>
      <div>
        <h3>Hosting Hub User Profiles</h3>
        <!-- <div aria-label="breadcrumb" style="float: right;margin-top: -25px;list-style-type: none;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Product</li>

          </ol>
        </div> -->
      </div>
    </div> 
    <p-card>
      <button style="font-size: 11px; float: right;" type="button" (click)="adduser()"
            class="btn btn-danger waves-effect btn-label waves-light r-red pull-right" data-bs-toggle="modal"
            data-bs-target=".transaction-detailModal"><i class="bx bx-plus label-icon"></i>
            + Add Admin</button>
      <div class="col-sm-12 col-md-6">
        <div id="datatable_filter" class="dataTables_filter text-left" style="text-align: left !important;">
          <label>
            <input autocomplete="off" type="text" class="form-control" [(ngModel)]="searchText"
              placeholder="Search " (keyup)="applyFilter(searchText)" />
          </label>
        </div>
      </div><br>
      <table class="table table-bordered dt-responsive nowrap sm dataTable no-footer dtr-inline" style="font-size:small">
        <thead>
          <tr>
            <!-- <th>#</th> -->
            <th>Admin Id</th>
            <!-- <th>Name</th> -->
            <th>User Name</th>
            <th>Phone No</th>
            <th>Email Id</th>
            <!-- <th>Password</th> -->
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd" style="  vertical-align: middle;" *ngFor="let admin of adminDetails  | paginate: { id: 'adminPagination', itemsPerPage: 5, currentPage: page, totalItems: totalCount }; let i=index">
            <!-- <td>{{i+1}}</td> -->
            <td class="sorting_1 dtr-control" style="color:blue; cursor: pointer;">
              
            

              {{ admin.adminId }}
            </td>

            <!-- <td>{{ admin.name }}</td> -->
            <td>{{ admin.userName }}</td>
            <td>{{ admin.phoneNo }}</td>
            <td>{{ admin.emailId }}</td>
            <!-- <td>{{ admin.password }}</td> -->
            <td>{{ admin.role }}</td>
            <td class="text-center">
              <button type="button" (click)="edit(admin.adminId, 'edit')" style="background-color: #19064c;"
              class="btn btn-success waves-effect edit-btn waves-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </button> &nbsp;
              <button (click)="edit(admin.adminId, 'view')" class="btn btn-primary waves-effect edit-btn waves-light" style="background-color: hwb(255 40% 39%);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
                  viewBox="0 0 16 16">
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
              </button> &nbsp;
              <button style="margin-left: 5px;" (click)="deleteAdmin(admin.adminId)"
                class="btn btn-danger waves-effect edit-btn waves-light"><svg xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                </svg></button>

            </td>
          </tr>
          <tr *ngIf="!adminDetails || adminDetails.length === 0">
            <td colspan="8" style="text-align: center; font-size: 0.8rem;">
              No Data Found
            </td>
          </tr>

        </tbody>
      </table>
      <pagination-controls id="adminPagination" (pageChange)="pageChange($event)"
        *ngIf="adminDetails && adminDetails.length"></pagination-controls>
        <div class="row">
          <div class="col-md-10">
           
        </div>
        <div class="col-md-2">
       <p style="margin-top: -26%; color:#0a0a0a">Total Count:[{{totalCount}}]</p>
        </div>
    </div>
                

    </p-card>
  </div>
  </div>
   </main>