<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid ">
        <img class="bottom" style="height: 65px; width: 180px ; left: 0;" src="../../assets/pbt.png">
        <h1>Hosting Hub</h1>
        <button  class="xxl-2" type="button" class="btn header-item waves-effect" 
            data-bs-toggle="dropdown" aria-expanded="false">
            <img alt="Avatar" style="width:28px; border-radius: 90%;float: right; top: 2px;" src="../../assets/logout.png"> 
        </button>
    </div>
</nav>

<app-sidenav></app-sidenav>

