/* .rounded-images {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.rounded-image {
    width: 160px; 
    height: 160px; 
    border-radius: 50%; 
    margin-left: 10px; 
}
.image-link {
    display: inline-block;
    position: relative;
}

.image-link:hover {
    cursor: pointer;
}

.image-container {
    position: relative;
}

.caption {
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
}
.square-images {
    display: flex;
    align-items: center;
    margin-top: 20px;
} */





