.custom-kit-header {
    color: #757575;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Mada', sans-serif;
  }
  th, td {
    font-family: 'Mada', sans-serif !important; /* Apply font-family to both th and td */
  }
  th {
    height: 10px;
    padding: 5px;
    /* padding: 8px 16px; */
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    unicode-bidi: isolate;
    /* text-align: center; */
    padding-left: 10px;
  }
  .table th {
    font-weight: 700 !important;
    font-size: 14px !important;
  }
  .table td {
    color: #212529;
    font-size: .875em;
    font-weight: 400;
    /* text-align: center; */
    
  }
  .text-muted {
    /* --bs-text-opacity: 1; */
    color: #212529;
    font-size: .875em;
    font-weight: 400;
    /* text-align: center; */
  }