<div class="otp-container">
    <h3>Enter OTP</h3>
    <form (ngSubmit)="verifyOTP()">
      <div class="form-group">
        <label for="otp"><b>OTP:</b></label>
        <input type="text" placeholder="Enter OTP" name="otp" [(ngModel)]="otp" class="form-control" required>
        <div *ngIf="otpInput.invalid && (otpInput.touched || otpForm.submitted)" class="error-message">
          OTP is required.
        </div>
      </div>
      <br>
      <button type="submit" class="otp-button">Verify OTP</button>
      <div *ngIf="otpForm.submitted && otpForm.invalid" class="error-message">
        Please enter a valid OTP.
      </div>
    </form>
  </div>
  
