
<!-- <div class="hero">
    <img style="height: 530px; width: 1358px;" src="../assets/banglore_bg.webp" alt="Background Image">
    <div class="overlay-text">
        <h2>Plan a Hyderabad Wedding</h2>
        <p>Find Vendors in Hyderabad</p>
    </div>
</div>
<div class="container" style="margin-top: 100px;">
    <h5 class="card-title"><strong>For Bride</strong></h5>
    <div class="row">
        <div class="col">
            <img src="../assets/bride.jpg" style="width: 200px; height: 200px;">
        </div>
        <div class="col">
            <img src="../assets/bride1.jpg" style="width: 200px; height: 200px;">
        </div>
    </div>
</div> -->


<!-- <div class="container" style="margin-top: 50px; margin-left: 100px;">
    <h5 class="card-title"><strong>Popular Searches</strong></h5><br>
    <div class="row">
        <div class="col">
            <img src="../assets/bride.jpg" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/bride1.jpg" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/popular.webp" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/popular1.webp" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/popular2.webp" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
        </div>
    </div>
</div> -->
<div class="hero">
    <img src="../assets/banglore_bg.webp" style="width: 100%;" alt="Background Image">
    <div class="overlay-text">
        <h2>Plan a Hyderabad Wedding</h2>
        <p>Find Vendors in Hyderabad</p>
    </div>
</div>
<div class="container" style="margin-top: 50px; margin-left: 100px;">
    <h5 class="card-title"><strong>Popular Searches</strong></h5><br>
    <div class="row">
        <div class="col">
            <img src="../assets/bride.jpg" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
            <div class="text-below"><strong>Sarees</strong></div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/bride1.jpg" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
            <div class="text-below"><strong>Makeup Artists</strong></div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/popular.webp" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
            <div class="text-below"><strong>Decorators in Hyderabad</strong></div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/popular1.webp" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
            <div class="text-below"><strong>Catering Services in Hyderabad</strong></div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col">
            <img src="../assets/popular2.webp" style="height: 250px; width:250px;" class="img-fluid" alt="Bride Image">
            <div class="text-below"><strong>Photographers in Hyderabad</strong></div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 50px; margin-left: 100px;">
    <h5 class="card-title"><strong>Real Wedding Stories</strong></h5><br>
    <div class="row">
        <div class="col">
            <img src="../assets/wedding.jpg" style="height: 250px; width:540px;" class="img-fluid" alt="Bride Image">
            <div class="text-below" style="margin-left: 5px;"><strong>Mgha and Aakash</strong><br>
                Wholesome Hyderabad Wedding With The Most Interesting Love Story!... Read Blog</div>
        </div>
        <div class="col">
            <img src="../assets/wedding1.jpg" style="height: 250px; width:540px;" class="img-fluid" alt="Bride Image">
            <div class="text-below" style="margin-right: 5px;"><strong>Rishitha and Deepak</strong><br>
                This Elegant Hyderabad Wedding Had Two Inspirational Bridal Looks! ... Read Blog</div>
        </div>
    </div>
</div>

<!-- New container for the additional row -->
<div class="container" style="margin-top: 50px; margin-left: 100px;">
    <h5 class="card-title"><strong>Latest Blogs</strong></h5><br>
    <div class="row">
        <div class="col">
            <img src="../assets/latest.webp" style="height: 200px; width:350px;" class="img-fluid" alt="Image 3">
            <div class="text-below"><strong>Traditional Hyderabad Telugu Wedding With A...</strong><br>
                We loved how this bride combined colors in the most amazing way - from a teal with a burnt orange for...
            </div>
        </div>
        <div class="col">
            <img src="../assets/latest1.webp" style="height: 200px; width:350px;" class="img-fluid" alt="Image 4">
            <div class="text-below"><strong>Garden Engagement In Hyderabad With Roma...</strong><br>
                We have been loving intimate affairs which have a minimalistic, romantic vibe, and here is one...
            </div>
        </div>
        <div class="col">
            <img src="../assets/latest2.webp" style="height: 200px; width:350px;" class="img-fluid" alt="Image 5">
            <div class="text-below"><strong>An Elegant Hyderabad Wedding With Stunning...</strong><br>
                A gorgeous mehendi, an even stunning Sangeet and a classy wedding, this was a celebration that was truly eye...
            </div>
        </div>
    </div>
</div>







