body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 85px 0 0; /* Height of navbar */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); */
    width: 240px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 0px;
    /* box-shadow: 0 20px 50px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
    input {
      font-size: small;
    }
    .eye-icon {
      position: absolute;
      top: 75%;
      right: 15px; /* Adjust as needed */
      transform: translateY(-50%);
      cursor: pointer;
    }
    
    /* Ensure that the input field has enough padding to accommodate the eye icon */
    .form-control {
      padding-right: 30px; /* Adjust as needed based on the eye icon size */
    }


    #sidebarMenu {
      background-image: url('../../assets/side8.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      font-size: small;
    }
    
    #sidebarMenu .sidebar {
      background: none;
    }
    
    /* styles.css or styles.scss */
    .nav-item {
    display: flex;
    align-items: center; /* Align items vertically */
    }
    
    .nav-link {
    display: flex;
    align-items: center; /* Align items vertically */
    color: white;
    }
    /* custom-styles.css */

/* Remove underlines from breadcrumb links */
.breadcrumb-item a {
  text-decoration: none;
}