<div>
    <form>
        <div>
            Enter Eno:
            <input type="text" [(ngModel)]="employee.Eno" name="eno">
        </div>
        <div>
            Enter Ename:
            <input type="text" [(ngModel)]="employee.Ename" name="ename">
        </div>
        <div>
            Enter Job:
            <input type="text" [(ngModel)]="employee.Job" name="job">
        </div>
        <div>
            Enter Salary:
            <input type="text" [(ngModel)]="employee.Salary" name="salary">
        </div>
        <div>
            Enter Dname:
            <input type="text" [(ngModel)]="employee.Dname" name="dname">
        </div>
        <div>
            <button (click)="SaveEmpData(employee)">Insert</button>
        </div>
    </form>
</div>
<div>
    {{response}}
</div>